In [8]:
t=(1,2,3,4,5)
a=[t]
print(a)
print(type(a))

[(1, 2, 3, 4, 5)]
<class 'list'>

In [12]:
l=[1,3,5,7]
t=(8,6,4,2)
a=[t]
ls=a+l
print(ls)

[(8, 6, 4, 2), 1, 3, 5, 7]

In [ ]:
#list and tuple
#list are mutable and tuple are immutable
#list consume more memory as compared to tuple
#list have built-in methods while tuple dont have

In [15]:
l=["a","d","c","A","C"]
print(l[::-1])

['C', 'A', 'c', 'd', 'a']

In [30]:
l=[10,11,20,21,30,31,40,41]
print(l[1::2])

[11, 21, 31, 41]

In [ ]:
#we can use built in copy function
#we can use list slicing
#we can use list.copy() method
#we can use copy.copy() or copy.deepcopy()

In [31]:
#output
n_list=["happy",[2,0,1,5]]
print(n_list[0:1])
print(n_list[1:3])

['happy']
[[2, 0, 1, 5]]

In [112]:
#output
odd=[2,4,6,8]
odd[0]=1
print(odd)
odd[1:4]=[3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [113]:
#output
odd=[1,3,5]
odd.append([7,9])
print(odd)
odd.extend([11,13])
print(odd)

[1, 3, 5, [7, 9]]
[1, 3, 5, [7, 9], 11, 13]

In [114]:
#output
x=1,2,3
print(type(x))
x=(1);print(type(x))
x=1;print(type(x))
x=1;print(type)

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'type'>

In [34]:
matrix=[]
for i in range(3):
    a=[]
    for j in range(3):     
         a.append(int(input())) 
    matrix.append(a) 
for i in range(3): 
    for j in range(3): 
        print(matrix[i][j], end = " ") 
    print()

1
2
3
4
5
6
7
8
9
1 2 3
4 5 6
7 8 9

In [115]:
#outpot
t=tuple("string")
print(t)
print(t[::-1])
print(t[::2][::-2])

('s', 't', 'r', 'i', 'n', 'g')
('g', 'n', 'i', 'r', 't', 's')
('n', 's')

In [118]:
#output
t=tuple([10,20,30,40,50,60])
print(60 in t)
print("60" in t)
print(t.count(10))
print(t.index(40))

True
False
1
3

In [69]:
n=input("enter string:")
a=n.upper()
b=a[::-1]
if a==b:
    print("pallindrom")
else:
    print("not a pallindrom")
print(a)

enter stringnaman
pallindrom
NAMAN

In [74]:
print(range(0,10))

range(0, 10)

In [81]:
t=()
for seq in range(10):
    print(seq)

0
1
2
3
4
5
6
7
8
9

In [88]:
a=tuple(range(5,25,5))
print(a[::-1])

(20, 15, 10, 5)

In [108]:
a="my name is himayat khan"
print(list(a))

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'h', 'i', 'm', 'a', 'y', 'a', 't', ' ', 'k', 'h', 'a', 'n']

In [109]:
#output
print(type('1,2'.split()))
print(type([1,2,3].sort()))
print(type("abc".upper()))
print(type(1 in[1,2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>