In [15]:
# Qsn no 1 : WAP to print first n natural numbers (input n from user).
n=int(input("enter the number:"))
for i in range(1,n+1):
    print(i,end=" ")

enter the number:10
1 2 3 4 5 6 7 8 9 10

In [22]:
# Qsn No 2: WAP to find sum of first n natural numbers
n=int(input("enter the number:"))
s=0
for i in range(1,n+1):
    s=s+i
    print(s)
print()
s=0
i=1
while i<=n:
    s=s+i
    print(s)
    i=i+1

enter the number:5
1
3
6
10
15

1
3
6
10
15

In [29]:
# Qsn No 3 : WAP to print first n natural numbers in reverse order.
n=int(input("enter the number:"))
for i in range(n,0,-1):
    print(i)
print()
#using while loop:
i=0
while i<n:
    print(n-i)
    i=i+1

enter the number:10
10
9
8
7
6
5
4
3
2
1

10
9
8
7
6
5
4
3
2
1

In [31]:
# Qsn No 4: WAP to input a number and print its factorial.
n=int(input("enter the number:"))
fact=1
for i in range(1,n+1):
    fact=fact*i
print("The factorial of given number is",fact)

enter the number:5
The factorial of given number is 120

In [34]:
# Qsn No 5:WAP to print Fibonacci sequence till n.

In [36]:
# Qsn No 6: WAP to print all digits of a number input from user.
n=(input("Enter the number:"))
m=tuple(n)
print(m)

Enter the number:12564
('1', '2', '5', '6', '4')

In [44]:
# Qsn No 7:WAP to find sum of all digits of a number.
n=(input("enter the number:"))
m=n.split()
sum=0
for i in m:
    sum=sum+int(i)
print(sum)

enter the number:2 3  45 6 7
63

In [48]:
# Qsn No 8:
n=int(input("enter the number:"))
fact=1
sum_fact=0
for i in range(1,n+1):
    fact=fact*i
    sum_fact=sum_fact+fact
print(f"sum of till {n} factorial is",sum_fact)

enter the number:5
sum of till 5 factorial is 153

In [52]:
#Qsn No 9:
base=int(input("the base value :")) #5
exp=int(input("the exponent value: "))#3
p=1
for i in range(1,exp+1):
    p=p*base
print(p)

the base value :5
the exponent value: 3
125

In [85]:
# Qsn no :10
print("----------Pattern 1---------------")
for i in range(5):
    for j in range(i+1):
        print("*",end="")
    print()
    
print("----------Pattern 2 ---------------")
for i in range(5):
    for j in range(5-i):
        print("*",end="")
    print()
    
print("----------Pattern 3 ---------------")
for i in range(6):
    for j in range(5-i):
        print("  ", end='')
    for j in range(i):
        print("*", end=' ')
    print()
    
print("----------Pattern 4 ---------------")
for i in range(6):
    for j in range(5-i):
        print(" ", end='')
    for j in range(i):
        print("*", end=' ')
    print()

----------Pattern 1---------------
*
**
***
****
*****
----------Pattern 2 ---------------
*****
****
***
**
*
----------Pattern 3 ---------------

        *
      * *
    * * *
  * * * *
* * * * *
----------Pattern 4 ---------------

    *
   * *
  * * *
 * * * *
* * * * *

In [97]:
# Qsn No 11:
print("----------Pattern 1---------------")
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()
    
print("----------Pattern 2 ---------------")
for i in range(1,6):
    for j in range(i):
        print(j+1, end=' ')
    print()
    
    
print("----------Pattern 3 ---------------")
for i in range(1,6):
    for j in range(i):
        print(6-i , end=' ')
    print('')
    
print("----------Pattern 4 ---------------")
for i in range(1,6):
    for j in range(5-i):
        print("  ", end="")
    for j in range(i):
        print(i, end=' ')
    print('')

----------Pattern 1---------------
1
22
333
4444
55555
----------Pattern 2 ---------------
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
----------Pattern 3 ---------------
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1
----------Pattern 4 ---------------
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [106]:
s=input("enter the string:")
for i in s:
    print(i)

enter the string:Viraj
V
i
r
a
j

In [107]:
s=input("string:")
for i in s:
    print(i,ord(i))

string:Viraj
V 86
i 105
r 114
a 97
j 106

In [110]:

def my_lst(list):
    sum=0
    for i in my_lst:
        if i%2==0:
            sum=sum+i
            print(sum)
my_lst[2,5,7,8,9,10]

TypeError: 'function' object is not subscriptable