In [5]:
#1.tuple to list
t = (1,2,3,4,5)
list_t=list(t)
print(type(list_t))
print(list_t)

<class 'list'>
[1, 2, 3, 4, 5]

In [22]:
#join tuple and list
#list allows Tuple inside
L=[1,3,5,7]
T=(8,6,4,2)
L.append(T)
print(L)

#
LL=[1,3,5,7]
TT=(8,6,4,2)
LS=TT+tuple(LL)
print(LS)

print(dir(list))
import sys
a=1
print("size of a: ",sys.getsizeof(a))
print("size of list: ",LL.__sizeof__)
print("size of tuple: ",TT.__sizeof__)

[1, 3, 5, 7, (8, 6, 4, 2)]
(8, 6, 4, 2, 1, 3, 5, 7)
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
size of a:  28
size of list:  <built-in method __sizeof__ of list object at 0x0000028C48CD6040>
size of tuple:  <built-in method __sizeof__ of tuple object at 0x0000028C48CC85E0>

In [ ]:
#List is mutable
#Tuple is immutable

In [24]:
#print list in reverse order
l=['a','d','c','A','C']
print("revers: ",l[::-1])

revers:  ['C', 'A', 'c', 'd', 'a']

In [27]:
#print odd indexes
l=[10,11,20,21,30,31,40,41]
print("Odd index values: ",l[1::2])

Odd index values:  [11, 21, 31, 41]

In [39]:
#copy a list
#using list function
#using slicing
l=[1,2]
lc1=list(l)#1
lc2=l[::1]#2
lc3=[]
lc3.append(l[:])
lc4=[]
lc4.append(l)
import copy
lc5=copy.copy(l)
lc6=copy.deepcopy(l)


print(id(l),l)
print(id(lc1),lc1)
print(id(lc2),lc2)
print(id(lc3),lc3)
print(id(lc4),lc4)
print(id(lc5),lc5)
print(id(lc6),lc6)

2801538885952 [1, 2]
2801539099648 [1, 2]
2801539944000 [1, 2]
2801538877824 [[1, 2]]
2801539135040 [[1, 2]]
2801539131264 [1, 2]
2801538874432 [1, 2]

In [ ]:
#predict output
a
1

In [ ]:
#predict output q.8
[1,4,6,8]
[2,3,5,7]

In [45]:
#Test shallow and deep copy

# importing copy module 
import copy 
  
# initializing list 1  
li1 = [1, 2, [3,5], 4] 
# using copy for shallow copy   
li2 = copy.copy(li1)  
# using deepcopy for deepcopy   
li3 = copy.deepcopy(li1)  

print(id(li1), li1)
print(id(li2),li2)
print(id(li3),li3)

li1[2][0]=6


print(id(li1), li1, "Original list")
print(id(li2),li2, "Shallow copy")
print(id(li3),li3,"Deep Copy")

2801540074496 [1, 2, [3, 5], 4]
2801539943680 [1, 2, [3, 5], 4]
2801539943552 [1, 2, [3, 5], 4]
2801540074496 [1, 2, [6, 5], 4] Original list
2801539943680 [1, 2, [6, 5], 4] Shallow copy
2801539943552 [1, 2, [3, 5], 4] Deep Copy

In [50]:
t=(1)
print(type(t))
t=(1,)
print(type(t))
t=1,
print(type(t))
t=('Guarav')
print(t,type(t))
t=tuple('Guarav')
print(t,type(t))

<class 'int'>
<class 'tuple'>
<class 'tuple'>
Guarav <class 'str'>
('G', 'u', 'a', 'r', 'a', 'v') <class 'tuple'>

In [51]:
#Q7
n_list = ["Happy", [2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

a
5

In [52]:
#Q8
odd = [2,4,6,8]
odd[0] = 1
print(odd)
odd[1:4]=[3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [55]:
#Q9
odd=[1,3,5]
odd.append([7,9])#add a new sublist here
print(odd)
odd.extend([11,13])#default exteds from end and same list is extended
print(odd)
odd.insert(0,[11,13])# inserts from beginning
print(odd)

[1, 3, 5, [7, 9]]
[1, 3, 5, [7, 9], 11, 13]
[[11, 13], 1, 3, 5, [7, 9], 11, 13]

In [56]:
#Q10
x=1,2,3
print(type(x))
x=(1)
print(type(x))
x=1
print(type(x))
x=1,
print(type(x))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [62]:
#Q11 Matrix
l1=[]
l2=list([1,2,3])
l1.append([1,2,3])
l1.append([4,5,6])
l1.append([7,8,9])

print(l1)
print(l2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]

In [61]:
#Q12
t=tuple('string')
print(t)
print(t[::-1])
print(t[::2][::-2])

('s', 't', 'r', 'i', 'n', 'g')
('g', 'n', 'i', 'r', 't', 's')
('n', 's')

In [63]:
#Q13
t=tuple([10,20,30,40,50,60])#converts the list in tuple
print(t)
print(60 in t)
print('60' in t)
print(t.count(10))
print(t.index(40))

(10, 20, 30, 40, 50, 60)
True
False
1
3

In [65]:
#Q14 Palindrome
inp=tuple(input("Enter string: "))

if inp == inp[::-1]:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter string:  sanjay

Not a Plaindrome

In [100]:
#Q15

strg=''
for i in range(20,0,-5):
    strg=strg+","+str(i)
print("Value is ",strg)
t=tuple(strg.split(',')[1:])
print("Tuple is ",t)

Value is  ,20,15,10,5
Tuple is  ('20', '15', '10', '5')

In [104]:
#Q16 - Convert string to list
str='Sanjay'
tup=tuple(str)
lst=list(str)
print(tup)
print(lst)

('S', 'a', 'n', 'j', 'a', 'y')
['S', 'a', 'n', 'j', 'a', 'y']

In [105]:
#Q17
print(type('1 2'.split()))
print(type([1,3,2].sort()))
print(type('abc'.upper()))
print(type(1 in [1,2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>