|Variable|Definition|Key|
|---|---|---|
|survival|Survival|0 = No, 1 = Yes|
|pclass|Ticket class|1 = 1st, 2 = 2nd, 3 = 3rd|
|gender|gender ||
|Age |Age in years| |
|sibsp |number of siblings / spouses aboard|	|
|parch |number of parents / children aboard| |
|ticket|Ticket number ||
|fare | fare| 	|
|cabin |Cabin number|	|
|embarked|Port of Embarkation|C = Cherbourg, Q = Queenstown, S = Southampton|
|boat | Lifeboat||
|body | Body Identification Number||
|home.dest| Home/destination||

- Read data and describe it
- Find columns with missingdata
- Print shape of dataset
- drop columns with more than 25% missing data
- drop columns having independent values(which do not affect the survival rate).


- check data types of all columns
- convert price to numeric
- find columns still having missing/na values and also count of missing data
- fill na with mean for fare and age column column.
- drop na values for embarked column.
- dump the dataframe to a csv file 'titanic_filtered.csv'.


- for surviced column replace 0 with D and 1 with A
- find the frequency of different values in survived column
- group by gender and survived and see the counts in each category
- find different pclass and no of people in each class

- find top 5 people with highest values of age. Count no of male and females in the top 5
- find max age male and female who survived
- get average age by gender
- get average age by people survived vs not-survived

In [31]:
import pandas as pd
import numpy as np

In [32]:
#read data from csv file
data = pd.read_csv('titanic_dataset.csv')
print(data.describe())

        Unnamed: 0       pclass     survived          age        sibsp  \
count  1309.000000  1309.000000  1309.000000  1046.000000  1309.000000
mean    654.000000     2.294882     0.381971    29.881135     0.498854
std     378.020061     0.837836     0.486055    14.413500     1.041658
min       0.000000     1.000000     0.000000     0.166700     0.000000
25%     327.000000     2.000000     0.000000    21.000000     0.000000
50%     654.000000     3.000000     0.000000    28.000000     0.000000
75%     981.000000     3.000000     1.000000    39.000000     1.000000
max    1308.000000     3.000000     1.000000    80.000000     8.000000

             parch        body
count  1309.000000  121.000000
mean      0.385027  160.809917
std       0.865560   97.696922
min       0.000000    1.000000
25%       0.000000   72.000000
50%       0.000000  155.000000
75%       0.000000  256.000000
max       9.000000  328.000000

In [33]:
#Find columns with missingdata
print(data.columns[data.isna().any()])
print(data.isna().sum())

Index(['age', 'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'], dtype='object')
Unnamed: 0       0
pclass           0
survived         0
name             0
gender           0
age            263
sibsp            0
parch            0
ticket           0
fare             1
cabin         1014
embarked         2
boat           823
body          1188
home.dest      564
dtype: int64

In [34]:
#Print shape of dataset
print(data.shape)

(1309, 15)

In [35]:
#drop columns with more than 25% missing data
to_drop = list(data.columns[data.isna().sum()>0.25*data.shape[0]])
for col in to_drop:
    data.drop(col,inplace=True,axis=1)
    
print(data.columns)

Index(['Unnamed: 0', 'pclass', 'survived', 'name', 'gender', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')

In [36]:
#drop columns having independent values(which do not affect the survival rate).
# name does not have affect so dropping name
data.drop('name',inplace=True,axis=1)
data.columns

Index(['Unnamed: 0', 'pclass', 'survived', 'gender', 'age', 'sibsp', 'parch',
       'ticket', 'fare', 'embarked'],
      dtype='object')

In [37]:
#check data types of all columns
print(data.dtypes)

Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
embarked       object
dtype: object

In [38]:
#convert price to numeric
# first remove $ symbol then convert type

print(data.fare.isna().sum())
data['fare'] = data.fare.str.replace('$','')
print()
print(data.head(2))
print()
data.fare = pd.to_numeric(data.fare)
print(data.dtypes)

1

   Unnamed: 0  pclass  survived  gender      age  sibsp  parch  ticket  \
0           0       1         1  female  29.0000      0      0   24160
1           1       1         1    male   0.9167      1      2  113781

      fare embarked
0  211.34         S
1  151.55         S

Unnamed: 0      int64
pclass          int64
survived        int64
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare          float64
embarked       object
dtype: object

In [39]:
# find columns still having missing/na values and also count of missing data
print(data[data.columns[data.isna().any()]].isna().sum())

age         263
fare          1
embarked      2
dtype: int64

In [40]:
# fill na with mean for fare and age column column.
data.fillna(value={'age':np.mean,'fare':np.mean},axis=0,inplace=True)
print(data.isna().sum())

Unnamed: 0    0
pclass        0
survived      0
gender        0
age           0
sibsp         0
parch         0
ticket        0
fare          0
embarked      2
dtype: int64

In [41]:
# drop na values for embarked column.
data.dropna(inplace=True)
print(data.isna().sum())
print(data.shape)

Unnamed: 0    0
pclass        0
survived      0
gender        0
age           0
sibsp         0
parch         0
ticket        0
fare          0
embarked      0
dtype: int64
(1307, 10)

In [42]:
# dump the dataframe to a csv file 'titanic_filtered.csv'.
data.to_csv('titanic_filtered.csv')

In [43]:
#for survived column replace 0 with D and 1 with A

data.survived = data.survived.astype('str')
r = data.survived.str.replace('0','D')
data.survived = r

r = data.survived.str.replace('1','A')
data.survived = r

print(data.head(3))

   Unnamed: 0  pclass survived  gender     age  sibsp  parch  ticket    fare  \
0           0       1        A  female      29      0      0   24160  211.34
1           1       1        A    male  0.9167      1      2  113781  151.55
2           2       1        D  female       2      1      2  113781  151.55

  embarked
0        S
1        S
2        S

In [44]:
# find the frequency of different values in survived column
print(data['survived'].value_counts())
print()
print(data.groupby('survived').size())

D    809
A    498
Name: survived, dtype: int64

survived
A    498
D    809
dtype: int64

In [45]:
#group by gender and survived and see the counts in each category
data.groupby(['gender','survived']).size()

gender  survived
female  A           337
        D           127
male    A           161
        D           682
dtype: int64

In [46]:
#find different pclass and no of people in each class
print(data['pclass'].value_counts())
print()
print(data.groupby('pclass').size())

3    709
1    321
2    277
Name: pclass, dtype: int64

pclass
1    321
2    277
3    709
dtype: int64

In [47]:
#find top 5 people with highest values of age. Count no of male and females in the top 5
data['age'] = pd.to_numeric(data.age,errors='coerce')
print(data.dtypes)
print()
print(data.sort_values('age',ascending=False).head(5))
print()
print(data.sort_values('age',ascending=False).head(5).groupby('gender').size())

Unnamed: 0      int64
pclass          int64
survived       object
gender         object
age           float64
sibsp           int64
parch           int64
ticket         object
fare           object
embarked       object
dtype: object

      Unnamed: 0  pclass survived  gender   age  sibsp  parch    ticket  \
14            14       1        A    male  80.0      0      0     27042
61            61       1        A  female  76.0      1      0     19877
1235        1235       3        D    male  74.0      0      0    347060
135          135       1        D    male  71.0      0      0  PC 17754
9              9       1        D    male  71.0      0      0  PC 17609

       fare embarked
14       30        S
61    78.85        S
1235   7.78        S
135   34.65        C
9      49.5        C

gender
female    1
male      4
dtype: int64

In [48]:
#find max age male and female who survived A
print(data.groupby('gender').age.max())

gender
female    76.0
male      80.0
Name: age, dtype: float64

In [49]:
# get average age by gender
print(data.groupby('gender').age.mean())

gender
female    28.576641
male      30.585233
Name: age, dtype: float64

In [50]:
#get average age by people survived vs not-survived
print(data.groupby('survived').age.mean())

survived
A    28.819020
D    30.545369
Name: age, dtype: float64