In [1]:
import pandas as pd
import numpy as np

In [2]:
# dataframe from dict or list of rows
df1 = pd.DataFrame(
    {
        "Name":   ["Gaurav", "Abhishek1", "Krishna", "Abhishek2", "Harshita", "Joey", "Shweta", "na-1" , "na-2"  , np.nan],
        "Age":    [ 0      , 1          , 2        , 2          , 1         , 2     , 3       , 1      ,  np.nan , 2     ],
        "Gender": [ 0      , 0          , 0        , 0          , 1         , 1     , 1       , np.nan ,  0      , 0     ]
    }
)
df2 = pd.DataFrame([("Gaurav",1), ("Abhiskek",2), ("Krishna",3), ("Abhishek2",4)],
                    index=[0,11,2,3], 
                    columns=["Name", "Number"])
print(df1)
print()
print(df2)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

         Name  Number
0      Gaurav       1
11   Abhiskek       2
2     Krishna       3
3   Abhishek2       4

In [13]:
cols = (df1.isna().any() == True).index
print(cols)

r = df1.dropna(axis=0)
print(r)
r.drop(columns=cols)

print(df1.T)

Index(['Name', 'Age', 'Gender'], dtype='object')
        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
             0          1        2          3         4     5       6     7  \
Name    Gaurav  Abhishek1  Krishna  Abhishek2  Harshita  Joey  Shweta  na-1
Age          0          1        2          2         1     2       3     1
Gender       0          0        0          0         1     1       1   NaN

           8    9
Name    na-2  NaN
Age      NaN    2
Gender     0    0

In [17]:
print(df1)

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
7       na-1  1.0     NaN
8       na-2  NaN     0.0
9        NaN  2.0     0.0

In [15]:
grp = df1.groupby('Age')
print(grp)

print(grp.groups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f542787df70>
{0.0: Int64Index([0], dtype='int64'), 1.0: Int64Index([1, 4, 7], dtype='int64'), 2.0: Int64Index([2, 3, 5, 9], dtype='int64'), 3.0: Int64Index([6], dtype='int64')}

In [18]:
grp = df1.groupby(['Age', 'Gender'])
print(grp)

print(grp.groups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f542787dd30>
{(0.0, 0.0): Int64Index([0], dtype='int64'), (1.0, 0.0): Int64Index([1], dtype='int64'), (1.0, 1.0): Int64Index([4], dtype='int64'), (1.0, nan): Int64Index([7], dtype='int64'), (2.0, 0.0): Int64Index([2, 3, 9], dtype='int64'), (2.0, 1.0): Int64Index([5], dtype='int64'), (3.0, 1.0): Int64Index([6], dtype='int64'), (nan, 0.0): Int64Index([8], dtype='int64')}

In [24]:
grp = df1.groupby('Age')
print(grp)

r = grp.size()
print(r, type(r))

print()
print(r.index)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5426abb4c0>
Age
0.0    1
1.0    3
2.0    4
3.0    1
dtype: int64 <class 'pandas.core.series.Series'>

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64', name='Age')

In [29]:
grp = df1.groupby(['Age','Gender'])
print(grp)

r = grp.size()
print(r, type(r))

print()
print(r.index)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f5426abb5e0>
Age  Gender
0.0  0.0       1
1.0  0.0       1
     1.0       1
2.0  0.0       3
     1.0       1
3.0  1.0       1
dtype: int64 <class 'pandas.core.series.Series'>

MultiIndex([(0.0, 0.0),
            (1.0, 0.0),
            (1.0, 1.0),
            (2.0, 0.0),
            (2.0, 1.0),
            (3.0, 1.0)],
           names=['Age', 'Gender'])

In [30]:
print(dir(grp))

['Age', 'Gender', 'Name', '__annotations__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_accessors', '_add_numeric_operations', '_agg_examples_doc', '_agg_see_also_doc', '_aggregate', '_aggregate_frame', '_aggregate_item_by_item', '_aggregate_multiple_funcs', '_apply_filter', '_apply_to_column_groupbys', '_apply_whitelist', '_assure_grouper', '_bool_agg', '_builtin_table', '_choose_path', '_concat_objects', '_constructor', '_cumcount_array', '_cython_agg_blocks', '_cython_agg_general', '_cython_table', '_cython_transform', '_define_paths', '_deprecations', '_dir_additions', '_dir_deletions', '_fill', '_get_cython_func', '_get_cythonized_result', '_get_data_to_aggregate', '_get_index', '_get_indices', '_gotitem', '_group_selection', '_insert_inaxis_grouper_inplace', '_internal_names', '_internal_names_set', '_is_builtin_func', '_iterate_column_groupbys', '_iterate_slices', '_make_wrapper', '_obj_with_exclusions', '_python_agg_general', '_python_apply_general', '_reindex_output', '_reset_cache', '_reset_group_selection', '_selected_obj', '_selection', '_selection_list', '_selection_name', '_set_group_selection', '_set_result_index_ordered', '_transform_fast', '_transform_general', '_transform_item_by_item', '_transform_should_cast', '_try_aggregate_string_function', '_try_cast', '_wrap_agged_blocks', '_wrap_aggregated_output', '_wrap_applied_output', '_wrap_frame_output', '_wrap_transformed_output', 'agg', 'aggregate', 'all', 'any', 'apply', 'backfill', 'bfill', 'boxplot', 'corr', 'corrwith', 'count', 'cov', 'cumcount', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'dtypes', 'expanding', 'ffill', 'fillna', 'filter', 'first', 'get_group', 'groups', 'head', 'hist', 'idxmax', 'idxmin', 'indices', 'last', 'mad', 'max', 'mean', 'median', 'min', 'ndim', 'ngroup', 'ngroups', 'nth', 'nunique', 'ohlc', 'pad', 'pct_change', 'pipe', 'plot', 'prod', 'quantile', 'rank', 'resample', 'rolling', 'sem', 'shift', 'size', 'skew', 'std', 'sum', 'tail', 'take', 'transform', 'tshift', 'var']

In [44]:
r = df1.dropna()

print(r)

grp = r.groupby(['Age','Gender'])
print(grp.groups)

for key in grp.groups:
    print(grp.get_group(key))
    print()

        Name  Age  Gender
0     Gaurav  0.0     0.0
1  Abhishek1  1.0     0.0
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0
4   Harshita  1.0     1.0
5       Joey  2.0     1.0
6     Shweta  3.0     1.0
{(0.0, 0.0): Int64Index([0], dtype='int64'), (1.0, 0.0): Int64Index([1], dtype='int64'), (1.0, 1.0): Int64Index([4], dtype='int64'), (2.0, 0.0): Int64Index([2, 3], dtype='int64'), (2.0, 1.0): Int64Index([5], dtype='int64'), (3.0, 1.0): Int64Index([6], dtype='int64')}
     Name  Age  Gender
0  Gaurav  0.0     0.0

        Name  Age  Gender
1  Abhishek1  1.0     0.0

       Name  Age  Gender
4  Harshita  1.0     1.0

        Name  Age  Gender
2    Krishna  2.0     0.0
3  Abhishek2  2.0     0.0

   Name  Age  Gender
5  Joey  2.0     1.0

     Name  Age  Gender
6  Shweta  3.0     1.0

In [45]:
grp.Age.mean()

Age  Gender
0.0  0.0       0.0
1.0  0.0       1.0
     1.0       1.0
2.0  0.0       2.0
     1.0       2.0
3.0  1.0       3.0
Name: Age, dtype: float64

In [ ]:
print(grp.)

In [26]:
df1.Age.value_counts() # frequency count

2.0    4
1.0    3
3.0    1
0.0    1
Name: Age, dtype: int64

In [ ]:
df