In [9]:
#1
a=int(input("enter no:"))
for i in range(1,a+1):
    print (i)

enter no:5
1
2
3
4
5

In [25]:
#2
a=int(input("enter no:"))
s=0
for i in range(1,a+1):
    s=s+i
print(s)

enter no:5
15

In [28]:
#3
a=int(input("enter no:"))
for i in range(a,0,-1):
    #print('*')
    print(i)

enter no:6
6
5
4
3
2
1

In [3]:
#4
a=int(input("enter no:"))
fact=1
for i in range(a):
    fact=fact*(i+1)
print(fact)

enter no:4
24

In [7]:
#5
n=int(input("enter no:"))
a=0
b=1
sum=0
for i in range(n):
    a=b
    b=sum
    sum=a+b
    print(sum)

enter no:5
1
1
2
3
5

In [30]:
#6
n=input("enter no:")
m=tuple(n)
print(m)

enter no:563
('5', '6', '3')

In [23]:
#7
n=input("enter no:")
l=len(n)
m=0
for i in range(l):
    s=n[i]
    s=int(s)
    m=m+s
print(m)

enter no:523
10

In [79]:
#8
n = int (input("enter no:"))
s=0
for i in range(1,n+1):
        k=i
        for j in range (1,i):
            k=k*j
            #print("J=" +str(j))
            #print("K=" +str(k))
        s=s+k 
        
print("S=" +str(s))

enter no:5
S=153

In [51]:
#10
for i in range(6):
    for j in range(i):
        print("*" , end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [39]:
for i in range(6,0,-1):
    for j in range(i):
        print("*" , end=' ')
    print('')

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [47]:
for i in range(6):
    for j in range(5-i):
        print("  ", end='')
    for j in range(i):
        print("*", end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [50]:
for i in range(6):
    for j in range(5-i):
        print(" ", end="")
    for j in range(i):
        print("*", end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [57]:
for i in range(1,6):
    for j in range(i):
        print(j+1, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [58]:
for i in range(1,6):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [68]:
#10
for i in range(1,6):
    for j in range(i):
        print(6-i , end=' ')
    print('')

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [70]:
for i in range(1,6):
    for j in range(5-i):
        print("  ", end="")
    for j in range(i):
        print(i, end=' ')
    print('')

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [72]:
for i in range(1,6):
    b=65
    for j in range(i):
        print(chr(b), end=' ')
        b+=1
    print('')

A
A B
A B C
A B C D
A B C D E

In [77]:
b=65
for i in range(1,6):
    for j in range(i):
        print(chr(b), end=' ')
        b+=1
    print('')

A
B C
D E F
G H I J
K L M N O

In [79]:
b=65
for i in range(1,6):
    for j in range(i):
        print(chr(b), end=' ')
    b+=1
    print('')

A
B B
C C C
D D D D
E E E E E

In [103]:
for i in range(6):
    b=65
    for j in range(5-i):
        print(' ', end=' ')
    for j in range(i):
        print(chr(b), end=' ')
        b+=1
    for j in range(i-1):
        print(chr(b-2), end=' ')
        b-=1
    print()

        A
      A B A
    A B C B A
  A B C D C B A
A B C D E D C B A