In [128]:
t=(1,2,3,4,5)
m=list(t)
print(m)
n=tuple(m)
print(n)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [17]:
L1=[1,3,5,7]
T=(8,6,4,2)
L2=list(T)
L3=L1+L2
#L3.sort()
print(L3)

[1, 3, 5, 7, 8, 6, 4, 2]

In [22]:
I=['a','d','c','A','C']
I.reverse()
print(I)

['C', 'A', 'c', 'd', 'a']

In [29]:
I=[10,11,20,21,30,31,40,41]
print(I[1::2])

[11, 21, 31, 41]

In [31]:
n_list=["HAPPY",[2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

A
5

In [32]:
odd=[2,4,6,8]
odd[0]=1
print(odd)#1,4,6,8
odd[1:4]=[3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [130]:
odd=[1,3,5]
odd.append([7,9])
odd.insert(0,100)
print(odd)
odd.extend([11,13])
print(odd)

[100, 1, 3, 5, [7, 9]]
[100, 1, 3, 5, [7, 9], 11, 13]

In [137]:
n=1
print(a100)

NameError: name 'a100' is not defined

In [47]:
x=1,2,3 ;print(type(x))
x='1' ;print(type(x))
x=1 ;print(type(x))
x=1, ;print(type(x))

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'tuple'>

In [93]:
t=tuple('string')
print(t)
print(t[::-1])
print(t[::2][::-2])

('s', 't', 'r', 'i', 'n', 'g')
('g', 'n', 'i', 'r', 't', 's')
('n', 's')

In [98]:
t=tuple([10,20,30,40,50,60])
print(60 in t)
print('60' in t)
print(t.count(10))
print(t.index(40))

True
False
1
3

In [104]:
name=input("Enter name :")
rev=name[ : :-1]
if(name==rev):
    print("palindrome")
else:
    print("Not")

Enter name :kkjkk
kkjkk
palindrome

In [119]:
a=[]
x=range(20,0,-5)
a.extend(x)
print(a)

[20, 15, 10, 5]

In [121]:
a1=input("Enter string :")
a2=tuple(a1)
print(a2)

Enter string :asdasd'
('a', 's', 'd', 'a', 's', 'd', "'")

In [126]:
print(type('1 2'.split()))
print(type([1 ,3 ,2].sort()))
print(type('abc'.upper()))
print(type(1 in [1,2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>

In [135]:
a=0
for i in range (3):
    for j in range (3):
        print(a+1,end="  ")
        a+=1
    print()

1  2  3
4  5  6
7  8  9