# Assignment5_Loops_Loops list

In [3]:
#Q1. WAP to print first n natural no. (input n from user)

a = int(input("Enter a no:"))
for i in range(1,a+1):
    print (i)

Enter a no:6
1
2
3
4
5
6

In [4]:
#Q2. WAP to find sum of first n natural no.

a = int(input("Enter a no:"))
s=0
for i in range(1,a+1):
    s=s+i
print(s)

Enter a no:10
55

In [5]:
#Q3. WAP to find first n natural no. in reverse oeder

a = int(input("Enter a no:"))
for i in range(a,0,-1):
    print(i)

Enter a no:10
10
9
8
7
6
5
4
3
2
1

In [6]:
#Q4. WAP to input a no. and print it's factorial.

a = int(input("Enter a no:"))
fact=1
for i in range(a):
    fact=fact*(i+1)
print(fact)

Enter a no:10
3628800

In [8]:
#Q5. WAP to print Fibonacci sequence till n. 

n = int(input("Enter a no:"))
a = 0
b = 1
sum = 0
for i in range(n):
    a=b
    b=sum
    sum=a+b
    print(sum)

Enter a no:6
1
1
2
3
5
8

In [10]:
#Q6. WAP to print all digits of a no.inputn from user.

n = input("Enter a no:")
m = tuple(n)
print(m)

Enter a no:1050
('1', '0', '5', '0')

In [12]:
#Q7. WAP to find sum of all digits of a no.

a = input("Enter a no:")
b = len(a)
c = 0
for i in range(b):
    s = a[i]
    s = int(s)
    c = c + s
print(c)

Enter a no:12345
15

In [13]:
#Q8.WAP to find sum of following series given n as input from user
# 1 + 2! + 3! + 4! + 5! + â€¦.n!
# Where n! denotes the factorial of number n.

n = int (input("Enter a no:"))
s = 0
for i in range(1,n+1):
        k=i
        for j in range (1,i):
            k=k*j
        s=s+k 
        
print("S=" +str(s))

Enter a no:15
S=1401602636313

In [15]:
#Q9. WAP to input base and exponent and print result without using inbuilt function pow(use for while loop).

x = int(input("Enter Base :"))
y = int(input("Enter exponent :"))
i=0
x = 1
for n in range(y):
    x*=y
print(x)

Enter Base :15
Enter exponent :20
104857600000000000000000000

In [16]:
#Q10. Print pattern

for i in range(6):
    for j in range(i):
        print("*" , end=' ')
    print('')

*
* *
* * *
* * * *
* * * * *

In [18]:
# Print pattern 

for i in range(5,0,-1):
    for j in range(i):
        print("*" , end=' ')
    print('')

* * * * *
* * * *
* * *
* *
*

In [19]:
# Print pattern

for i in range(6):
    for j in range(5-i):
        print("  ", end='')
    for j in range(i):
        print("*", end=' ')
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [20]:
# Print pattern

for i in range(6):
    for j in range(5-i):
        print(" ", end="")
    for j in range(i):
        print("*", end=' ')
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [21]:
# Print pattern


for i in range(1,6):
    for j in range(i):
        print(j+1, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [22]:
# Print pattern


for i in range(1,6):
    for j in range(i):
        print(i, end=' ')
    print('')

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [23]:
# Print pattern

for i in range(1,6):
    for j in range(i):
        print(6-i , end=' ')
    print('')

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [24]:
# Print pattern


for i in range(1,6):
    for j in range(5-i):
        print("  ", end="")
    for j in range(i):
        print(i, end=' ')
    print('')

        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [25]:
# Print pattern

for i in range(1,6):
    b=65
    for j in range(i):
        print(chr(b), end=' ')
        b+=1
    print('')

A
A B
A B C
A B C D
A B C D E

In [27]:
# Print pattern

b = 65
for i in range(1,6):
    for j in range(i):
        print(chr(b), end=' ')
        b+=1
    print('')

A
B C
D E F
G H I J
K L M N O

In [28]:
# Print pattern

b=65
for i in range(1,6):
    for j in range(i):
        print(chr(b), end=' ')
    b+=1
    print('')

A
B B
C C C
D D D D
E E E E E