In [1]:
n=float(input("Enter a number : "))
l1 = lambda x:x**2
l2 = lambda x:(1/x)
l3 = lambda x:-x
print(f"Square of {n} is : " + str(l1(n)))
print(f"Inverse of {n} is : " + str(l2(n)))
print(f"Negate of {n} is : " + str(l3(n)))

Enter a number : 5
Square of 5.0 is : 25.0
Inverse of 5.0 is : 0.2
Negate of 5.0 is : -5.0

In [2]:
import functools
l1=(input("Enter a list of values seperated by coma: "))
l=l1.split(",")
maxi = functools.reduce(lambda x, y: x if x > y else y,l)
print(f"Maximum value in the list {l} is : " + str(maxi))

Enter a list of values seperated by coma: 10,20,50,60,99,8,1,4
Maximum value in the list ['10', '20', '50', '60', '99', '8', '1', '4'] is : 99

In [1]:
# l=[lambda x:x**2, lambda x:(1/x), lambda x:-x]
# s=[1,2,4]

def map_multiple(functs,sequence):
    n1=[]
    n2=[]
    n3=[]
    n1=list(map(functs[0],sequence))
    n3.append(n1)
    n2=list(n1)
    for i in range(1,len(functs)):
        v=list(map(functs[i],n2))
        n2 = v
        n3.append(n2)
    return n3
map_multiple([lambda x:x**2, lambda x:(1/x), lambda x:-x],[1,2,3,4,5])

[[1, 4, 9, 16, 25],
 [1.0, 0.25, 0.1111111111111111, 0.0625, 0.04],
 [-1.0, -0.25, -0.1111111111111111, -0.0625, -0.04]]

In [4]:
from functools import reduce
f= lambda x,y : x if x>y else y
l=[10,30,50,30,10]
num=reduce(f,l)
print(num)

50

In [5]:
functs = [lambda x:x**0.5 , lambda x:1/x]
l=[1,4,16,64]
ans=[]
for num in l:
    res = num
    for funct in functs:
        res = funct(res)
        ans.append(res)
    print(ans)

[1.0, 1.0]
[1.0, 1.0, 2.0, 0.5]
[1.0, 1.0, 2.0, 0.5, 4.0, 0.25]
[1.0, 1.0, 2.0, 0.5, 4.0, 0.25, 8.0, 0.125]

In [7]:
n=[10,30,40,50,'abd','vk',20,30]
print("------------ without using filter ------------")
l=[]
for i in n:
    if(isinstance(i, int) == 1):
        l.append(i)
print(l)
print("------------ using filter ------------")
filt = list(filter(lambda x: isinstance(x, (int, float)), n))
print(filt)

------------ without using filter ------------
[10, 30, 40, 50, 20, 30]
------------ using filter ------------
[10, 30, 40, 50, 20, 30]

In [2]:
def convert_ft_mt(l):
    ht_mt=[]
    if l.find("ft") > 0 and l.find("in") == -1:
        ft = l[0:l.find("ft")]
        inch = 0
        inch = float(inch) + float(ft) * 12
        ht_m = round(((inch * 2.54)/100),3)
        ht_mt.append(ht_m)
    if l.find("ft") == -1 and l.find("in") > 0:
        inch = l[0:l.find("in")]
        ft = 0
        inch = float(inch) + float(ft) * 12
        ht_m = round(((inch * 2.54)/100),3)
        ht_mt.append(ht_m)
    if l.find("ft") > 0 and l.find("in") > 0:
        ft = l[0:l.find("ft")] 
        inch = l[l.find("ft")+2:l.find("in")]
        inch = float(inch) + float(ft) * 12
        ht_m = round(((inch * 2.54)/100),3)
        ht_mt.append(ht_m)
    return ht_mt
l = ['5ft11in','5ft']
list(map(convert_ft_mt,l))

[[1.803], [1.524]]

In [56]:
def my_map(funct,Seq):
    for i in Seq:
        yield funct(i)
list(my_map(convert_ft_mt,['5ft11in','5ft']))

[[1.803], [1.524]]